/* HEADER */

header{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}

header.black{
    background-color: rgba(0, 0, 0, 0.842);
    margin-top: 0;
    height: 80px;
}

header .container{
    align-items: center;
}

.logo{
    font-size: 34px;
    color: var(--default_color);
    font-weight: bold;
}

.black .logo{
    font-size: 29px;
    color: var(--default_color);
}

ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

ul li{
    position: relative;
}

.nav-list .nav-link{
    font-size: 21px;
    color: var(--default_color);
    font-weight: 600;
}

.black .nav-list .nav-link{
    font-size: 18px;
    color: var(--default_color);
    font-weight: 800;
}

.nav-list li::after{
    content: '';
    background-color: var(--default_color);
    width: 0;
    height: 0;
    border: 1px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
    transition: .8s all;
}

.nav-list li:hover::after{
    width: 40px;
    height: 3px;
}

/* ul li:hover::after, ul li.active::after{
    width: 40px;
    height: 3px;
} */


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1050px) {
    header{
        margin-top: 0;
        height:auto;
        background-color: black;
    }

    header.black{
        position: static;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
        width: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .nav-item {
        display: none;
    }

    .logo {
        font-size: 30px;
        margin: 0 10px;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: -100px;
    }

    .mobile-menu{
        margin-right: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }
    .mobile-menu .nav-item {
        display: block;
        color: var(--default_color);
        width: 190px;
        padding: 5px 6px;

    }

    .mobile-menu .nav-link {
        color: var(--default_color);
        padding: 10px 20px;
    }

    .open {
        display: block;
    }

    .black ul li a{
        font-size: 21px;
        color: var(--default_color);
        font-weight: 600;
    }
}