   /* HERO */

.hero{
    color: var(--secondary_color);
    width: 100%;
    height: 684px;
    padding-top: 60px;
    /* border: 1px solid rgb(168, 5, 5); */ 
    overflow: hidden;
    user-select: none;
}

.content{
    height: 100%;
    display: flex;
    align-items: center;
}

.subtitle_hero{
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 10px;
}

.title_hero{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}

.paragraph_hero{
    font-size: 15px;
    margin-bottom: 45px;
}

.buttons_hero{
    display: flex;
    align-items: center;
    gap: 16px;
}

.button_hero{
    width: 129.62px;
    height: 43.9px;
    border: 2px solid var(--default_color);
}

.button_hero button{
    font-size: 15px;
    font-weight: 500;
}

.github_button_hero{
    position: relative;
}

.github_button_hero i{
    font-size: 3.5rem;
}

.github_button_hero::after{
    content: '';
    width: 45px;
    height: 45px;
    border: 0px dotted var(--default_color);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease-in-out;
}

.github_button_hero:hover::after{
    width: 55px;
    height: 55px;
    border: 3px dotted var(--default_color);
}

.picture_hero{
    position: relative;
    margin-top: 66px;
    display: flex;
    align-content: flex-end;
}

.scrooldown_line_hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 0;
    padding-right: 5px;
    margin-top: 70px;
    z-index: 4;
}

.scrooldown_line_hero a i{
    color: var(--secondary_color);
    position: relative;
}

.scrooldown_line_hero a i:hover::after{
    content: '|';
    position: absolute;
    color: var(--secondary_color);
    font-weight: bold;
    top: -20%;
    right: -30%;
}

@media (max-width: 1074px) {
    .picture_hero{
        height: 500px;
        width: 400px;
        margin-top: 184px;
    }
} 
       